upgrade analyzer model to encorportate more high quality analysis with gpt 5.1

be knee deep in the story telling, get creative

use the regression model data to tell a story 

refine model to maximize efficiency

start experimenting with creating a skeleton for an academic paper

use stats models package

look into building a ml model to predict things??

differnetiate if it discloses and explains whether if they do, are they saying that they're sharing or if they're not sharing

develop a basic algorithmic framework to determine how well they adhere to the actual law for disclosure

verify table compliance, boolean, then look at a more expansive view on how well they actually follow this. use gpt
